<div class="alert alert-danger" *ngIf="errorMessage">
  <button type="button" class="close" aria-hidden="true" (click)="errorClosed()">&times;</button>
  <strong>Error </strong>{{errorMessage}}
</div>

<div class="alert alert-success" *ngIf="successMessage">
  <button type="button" class="close" (click)="successClosed()" aria-hidden="true">&times;</button>
  <strong>Success </strong> {{successMessage}}
</div>

<div class="alert alert-info" *ngIf="infoMessage">
  <button type="button" class="close" (click)="infoClosed()" aria-hidden="true">&times;</button>
  {{infoMessage}}
</div>

<mat-form-field>
  <mat-label>Select Station</mat-label>
  <mat-select [(value)]="selectedStation" (selectionChange)="stationSelectionListClicked($event.value)">
    <mat-option *ngFor="let station of stations" [value]="station">{{station.city}} {{station.campusLocation}}
    </mat-option>

  </mat-select>
</mat-form-field>

<mat-card style="margin: 0 auto; width: 50%">
  <h4 class="text-center">Add Machine</h4>
  <form #machinesForm="ngForm" (ngSubmit)="addMachine()">

    <div class="form-group">

      Select Slot Duration :
      <mat-form-field>
        <mat-label>Select Duration</mat-label>
        <mat-select name="slotDurations" id="slotDurations" [(ngModel)]="selectedMachineSlot" (selectionChange) = "selectSlotDuration()">
          <mat-option *ngFor="let duration of slotDurations" [value]="duration">{{duration}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="form-group">

      Select Machine Type :
      <mat-form-field>
        <mat-label>Select Machine Type</mat-label>
        <mat-select name="machineTypes" id="machineTypes" [(ngModel)]="selectedMachineType">
          <mat-option *ngFor="let type of machineTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      Select Machine Starting Date :
      <mat-form-field class="example-full-width">
        <input matInput [min]="minDate" [matDatepicker]="picker1" placeholder="Select Starting Date"
          (dateInput)="onStartingDateChange()" readonly required name="startingDate" id="startingDate"
          [(ngModel)]="selectedStartDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">

      Select Machine Start Timings :
      <mat-form-field>
        <mat-label>Select Start Time</mat-label>
        <mat-select name="startTime" id="startTime" [(ngModel)]="selectedStartTime"
          (selectionChange)="startTimeSelected()">
          <ng-container *ngIf="selectedMachineSlot == 'SIXTY'">
            <mat-option *ngFor="let time of sixtyMinsStartTime;" [value]="time">{{time}}</mat-option>
          </ng-container>
          <ng-container *ngIf="selectedMachineSlot == 'THIRTY'">
            <mat-option *ngFor="let time of thirtyMinsStartTime; " [value]="time">{{time}}</mat-option>
          </ng-container>
          <ng-container *ngIf="selectedMachineSlot == 'FIFTEEN'">
            <mat-option *ngFor="let time of fifteenMinsStartTime; " [value]="time">{{time}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="form-group">

      Select Machine End Timings :
      <mat-form-field>
        <mat-label>Select End Time</mat-label>
        <mat-select name="endTime" id="endTime" [(ngModel)]="selectedEndTime"  (selectionChange)="endTimeSelected()">
            <ng-container *ngIf="selectedMachineSlot == 'SIXTY'">
                <mat-option *ngFor="let time of sixtyMinsEndTime | slice : startEndTimeIndex" [value]="time">{{time}}</mat-option>
              </ng-container>
              <ng-container *ngIf="selectedMachineSlot == 'THIRTY'">
                <mat-option *ngFor="let time of thirtyMinsEndTime | slice : startEndTimeIndex" [value]="time">{{time}}</mat-option>
              </ng-container>
              <ng-container *ngIf="selectedMachineSlot == 'FIFTEEN'">
                <mat-option *ngFor="let time of fifteenMinsEndTime | slice : startEndTimeIndex" [value]="time">{{time}}</mat-option>
              </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <button type="submit" class="btn btn-primary btn-raised" data-toggle="modal" data-target="#exampleModalCenter"
      [disabled]="!machinesForm.valid"> Add Machine </button>

  </form>
</mat-card>