.mat-card {
  background-color: gainsboro ;
  margin-bottom: 10px;
 
}
.machine-card-header {
  justify-content: center;
}
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }
  
  /* Success syling */
  
  .mat-button.mat-success,
  .mat-stroked-button.mat-success {
      color: #155724;
  }
  .mat-button.mat-success:hover,
  .mat-stroked-button.mat-success:hover {
    background-color: #f0fff3;
  }
  
  .mat-raised-button.mat-success,
  .mat-flat-button.mat-success,
  .mat-fab.mat-success,
  .mat-mini-fab.mat-success {
    color: #f0fff3;
    background-color: #155724;
  }
  
  .mat-icon-button.mat-success {
    color:#155724;
  }
  .scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum-scrolling on iOS */
    height :700px;
    width: 30%;
    margin-right: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}