example-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }

  :host {
    height: 100%;
    width: 100%;
}

.chart-container {
    padding-left: 10px;
    padding-right: 10px;
}

.spectre-line-chart {
    height: 100%;
    width: 100%;
    float: right;
}

.bar-chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }